body {
  /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 20px;
}

nav li {

  display: contents;
}

nav ul {

  display: contents;
}

nav {

  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(50% 10% 200 / 40%);

  a {
    
      flex: 1;
      text-decoration: none;
      color: inherit;
      text-align: center;
      padding: 0.5em;

  }

  a.current {

      border-bottom-width: 5px;
      border-bottom-color: oklch(80% 3% 200);
      border-bottom-style: solid;
      font-weight: bold;
  
  }

}

html {

  --color-accent: oklch(67.11% 0.2039 164.12);
  accent-color: var(--color-accent);
  color-scheme: light dark

} 

nav a:hover {

  --color-accent: oklch(67.11% 0.2039 164.12);
  border-bottom-width: 5px;
  border-bottom-color: var(--color-accent);
  border-bottom-style: solid;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  font-weight: bold;

}

.color-scheme {
  position: absolute;
  top: 1rem; 
  right: 1rem; 
  font-size: 0.8rem; 
}

.github-stats {
  display: grid
}